@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap");

body {
    font-family: "Poppins", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: white;
    color: black;
    margin: 0;
}

.container {
    text-align: center;
    background: whitesmoke;
    padding: 30px;
    width: 350px;
}

h1 {
    margin-bottom: 10px;
    font-size: 28px;
}

input {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 8px;
    border: none;
    outline: none;
    font-size: 16px;
}

button {
    padding: 10px 20px;
    border: none;
    margin-top: 10px;
    border-radius: 8px;
    cursor: pointer;
    background: #00bcd4;
    color: #fff;
    font-size: 16px;
    transition: 0.3s;
}

button:hover {
    background: #008c9e;
}

#message {
    margin-top: 15px;
    font-size: 18px;
}
